body {
  background-color: #ffffff;
  font-family: sans-serif;
}

.ergebnistabelle {
  width: 100%;
}

.ergebnistabellenkopf {
  font-weight: bold;
  background: #cd071e;
  color: #ff00ff;
}

table {
}

th {
  background-color: #cd071e;
  color: white;
}

td {
  overflow: hidden;
  vertical-align: top;
}

fieldset {
  background: #efefef;
  padding: 10px;
}

legend {
  margin-top: 19px;
  font-weight: bold;
  background: #0d5cab;
  color: #ffffff;
  border-top: 1px solid #999;
}

input {
  text-align: right;
  padding-right: 1em;
}

label {
  background: #eee;
  display: inline-block;
  width: 7em;
}
