# vertrauliches
passworte
.htpasswd
dblogin_details.mk
dblogin_details_test.mk

#generierte Dateien
*.csv
adm/*
createdb.sql

# automatisch heruntergeladene Fremdpakete
3rdparty/*
ajaxcrud.zip
fpdf*.tgz
