# vertrauliches
passworte
.htpasswd
dblogin_details.mk
dblogin_details_test.mk
dblogin_details_lokal.mk
lokaleInstallation

#generierte Dateien
*.csv
adm/*
createdb.sql

# automatisch heruntergeladene Fremdpakete
3rdparty/*
ajaxcrud.zip
fpdf*.tgz
*.bak
/passworte2.txt
